.header{
    text-align: center;
    display: flex;
    justify-content: center;
}

.foto{
    width: 200px;
    height: 200px;
    align-items: start;
}

.lista{
    list-style: none;
    display: flex;
    justify-content: center;
}

.item{
    margin-left: 3em;
    padding: 3px;
}

.color{
    color: #fc5c5c;
}

.resumen{
    width: 80%; 
}

.resumen p{
    font-size: 16px;
    padding: 5px;
    margin-left: 5px;
}

.article{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
} 


.contenido{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 2px;
}

.datos{
    display: flex;
    justify-content: space-between;

}

.uno{
    margin-bottom: -25px;
}

.dos{
    margin-top: 0;
}

.descripcion{
    margin-top: 0;
}

.nombre h3{
    margin-bottom: 3px;
}

.nombre h6{
    margin-top: 0;
    margin-bottom: 1px;
}

.fecha h3{
    margin-bottom: 3px;
}

.fecha h6{
    margin-top: 0;
    margin-bottom: 1px;
}

.listaHabilidades {
        list-style: none;
        width: 100%;
        font-weight: bolder;
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 0;
        margin-right: 90rem;
    }
    

.listaHabilidades li{
    width: 100%;        
    box-sizing: border-box;
}
.itec{
    padding-right: 5px;
    margin-left: 5px;
}
.carrer{
    padding-right: 15px;
    margin-left: 15px;
}